.details{
    background-color: lightgray;
}

.but{
    text-align: center;
}
.f{
    color: white;
    margin-right: 2em;
    font-size: medium;
}
#search{
     margin-left: 14em;
 }

.card_custom{
    width: 40%;
    margin: 0 auto;
}
body{
    background-color: rgb(202, 211, 223);
}