{% extends 'base.html.twig' %}
{% block body %}
    <h1 align="center" class="alert alert-dismissible alert-success">
        Congats you have been registred succefully
    </h1>
    <hr>
    <a href="{{ path('conference_index') }}">View All</a>

{% endblock %}