{% extends 'base.html.twig' %}
{% block body %}
    <h1 align="center" class="alert alert-dismissible alert-success">
            A mail was sent for you , please confirm you inscription
    </h1>
    <hr>
    <a href="{{ path('conference_index') }}"> View All </a>
{% endblock %}